#header {
	position: relative;
	background: url( $img + 'header-pattern.png' ) repeat;
	overflow: hidden;
	z-index: 3;
	
	.logo {
		background: url( $img + 'default-client-image.png' ) no-repeat;
		display: block;
		height: 120px;
		margin: 0 0 0 30px;
		width: 100%;
		text-indent: -10000em;
	}
}

#head {
	background: #1f2630;
	overflow: hidden;

	.app-title {
		color: #fff;
		float: left;
		font-size: 140%;
		font-weight: bold;
		padding: 15px 30px;
	}

	.user-info {
		color: #bdbec0;
		float: right;
	}
}

#control-panel {
	@include position( absolute , 36px 20px 0 0 );
	border-radius: $default-radius;
	background: $colour-primary;
	padding: 10px;

	li {
		line-height: 1.5em;
		overflow: visible;
		
		&:first-child {
			color: darken( #fff, 20% );
		}
	}
	
	li + li {
		background: url( $img + 'menu-separator.png' ) no-repeat;
		margin-left: 10px;
		padding-left: 10px;
	}
	a {
		@include transition( all $transition-speed );
		color: $colour-header-link;
		display: inline;
		text-decoration: none;
		
		&:hover {
			color: $colour-header-link-hover;
		}
	}
}
