#main {
	height: 100%;
	overflow: hidden;
}

#content {
	margin-left: 220px;

	.content {
		padding: 10px 30px;
		position: relative;
		z-index: 1;
	}
}

.search-pagination {
	bottom: 0;
	position: absolute;
	right: 0;
}
