<div class="container">
    <h1>{{ title }}</h1>

    <div class="row">
        <div class="column-half">
            <div ng-controller="Sessions.Auth">
                <div ng-hide="forgotten" ng-controller="Sessions.New">
                    <div ng-include src="'packages/tectonic/shift/views/sessions/new.html'"></div>
                </div>
                <div ng-show="forgotten" ng-controller="Sessions.Forgot">
                    <div ng-include src="'packages/tectonic/shift/views/sessions/forgot.html'"></div>
                </div>
            </div>
        </div>

        <div class="column-half">
            <div ng-controller="Users.Register">
                <div ng-include src="'packages/tectonic/shift/views/users/register.html'"></div>
            </div>
        </div>
    </div>

</div>
