<h1>Register</h1>

<!-- Registration form -->
<form name="userRegister" ng-submit="vm.register()" class="vertical bordered-form" novalidate>

    <div class="control">
        <div class="control-label">
            <label for="firstName" mandatory>First name</label>
        </div>
        <div class="control-field">
            <input type="text" id="firstName" name="firstName" ng-model="vm.user.first_name" required ng-minlength="2">
            <span class="error" ng-show="userRegister.firstName.$dirty && userRegister.firstName.$error.required">The first name field is required.</span>
            <span class="error" ng-show="userRegister.firstName.$error.minlength">The first name must be at least 2 characters.</span>
        </div>
    </div>

    <div class="control">
        <div class="control-label">
            <label for="lastName" mandatory>Surname</label>
        </div>
        <div class="control-field">
            <input type="text" id="lastName" name="lastName" ng-model="vm.user.last_name" required ng-minlength="2">
            <span class="error" ng-show="userRegister.lastName.$dirty && userRegister.lastName.$error.required">The last name field is required.</span>
            <span class="error" ng-show="userRegister.lastName.$error.minlength">The last name must be at least 2 characters.</span>
        </div>
    </div>

    <div class="control">
        <div class="control-label">
            <label for="email" mandatory>Email</label>
        </div>
        <div class="control-field">
            <input type="email" id="email" name="email" ng-model="vm.user.email" ie-email-validation required>
            <span class="error" ng-show="userRegister.email.$dirty && userRegister.email.$error.required">The email field is required.</span>
            <span class="error" ng-show="userRegister.email.$dirty && userRegister.email.$error.ie_email">Please enter a valid email.</span>
            <span class="error" ng-show="userRegister.email.$error.email">Please enter a valid email.</span>
        </div>
    </div>

    <div class="control">
        <div class="control-label">
            <label for="password" mandatory>Password</label>
        </div>
        <div class="control-field">
            <input type="password" id="password" name="password" ng-model="vm.user.password" ng-required="!user.id" ng-minlength="6">
            <span class="error" ng-show="userRegister.password.$dirty && userRegister.password.$error.required">The password field is required.</span>
            <span class="error" ng-show="userRegister.password.$error.minlength">The password must be at least 6 characters.</span>
        </div>
    </div>

    <div class="control">
        <div class="control-label">
            <label for="passwordConfirmation" mandatory>Confirm password</label>
        </div>
        <div class="control-field">
            <input type="password" id="passwordConfirmation" name="passwordConfirmation" ng-model="vm.user.password_confirmation" equal="user.password" equal-field-name="password" ng-required="!user.id" ng-minlength="6">
            <span class="error" ng-show="userRegister.passwordConfirmation.$dirty && userRegister.passwordConfirmation.$error.required">The confirm password field is required.</span>
            <span class="error" ng-show="userRegister.passwordConfirmation.$dirty && !userRegister.passwordConfirmation.$error.required && userRegister.passwordConfirmation.$error.equal">The confirm password must match the password field.</span>
        </div>
    </div>

    <!-- Render the rest of the tabs and content for the custom fields -->
    <div class="control" custom-fields="customFields" ng-show="customFields"></div>

    <div class="control">
        <div class="control-label">
            <label for="recaptcha_response_field" mandatory>Authorisation</label>
        </div>
        <div class="control-field">
            <div id="captcha-box" captcha model="user"></div>
        </div>
    </div>

    <div class="control">
        <div class="control-field">
            <input type="submit" value="Register">
        </div>
    </div>

</form>
