// Colours.
$colour-primary: #2e3641;
$colour-secondary: #666;
$colour-tertiary: #00a5b3;
$colour-quaternary: #de6957;

$colour-header-link: #edeff2;
$colour-header-link-hover: $colour-tertiary;

$colour-breadcrumbs: #edeff2;

$colour-filters: #f9f9f9;

$colour-warning: #f4cf6c;
$colour-info: #5ec0c9;
$colour-success: #4ec1a0;
$colour-error: #e58e80;
$colour-disabled: #ccc;

$colour-tab-up: #c4c5c9;
$colour-tab-over: $colour-tertiary;
$colour-tab-active: $colour-primary;