/*
|--------------------------------------------------------------------------
| Configuration
|--------------------------------------------------------------------------
| 
| Store all global variables and font declarations here.
| No styles should be defined here.
| 
*/
// Fonts.
@import url(//fonts.googleapis.com/css?family=Open+Sans:400,600,700);

$font-primary: 'Open Sans';


// Directories and sprites.
$img: '../img/';
$sprite-main: $img + 'sprite.png';
$sprite-alerts: $img + 'sprite-alerts.png';
$sprite-file-icons: $img + 'sprite-file-icons.png';


// Misc settings.
$default-radius: 3px;


$transition-speed: 0.25s;


// Default width for modals.
$modal-width: 500px;


// Defaults for pill buttons.
$button-pill-height: 24px;
$button-pill-close-spacing: 3px;


// Breakpoints.
$desktop:  new-breakpoint( min-width 1024px 12 );
$tablet:   new-breakpoint( min-width 769px max-width 1023px 12 );
$mobile:   new-breakpoint( max-width 768px 12 );
$handheld: new-breakpoint( max-width 1023px 12 );


// When viewed on mobile/tablet, this variable determines how much padding is
// added to the left and right of the element.
$handheld-device-padding: 20px;


// How far are the alerts from the edge of the screen?
$alerts-container-margin: 30px;
